@font-face {
    font-family: 'oldschool';
    /* src: url(../fonts/Glass_TTY_VT220/Glass_TTY_VT220.ttf); */
    src: url(../fonts/DEC_Terminal_Modern/decterm.ttf);
}

:root {
    --phosphor-hue:    45deg;
    animation: color-fun infinite;
    --duration: 0s;
    animation-duration: var(--duration);

    --phosphor-bright: hsl(var(--phosphor-hue), 100%, 60%);
    --phosphor:        hsl(var(--phosphor-hue), 100%, 40%);
    --phosphor-dark:   hsl(var(--phosphor-hue), 100%, 18%);
    --phosphor-black:  hsl(var(--phosphor-hue), 100%, 7%);
}

@keyframes color-fun {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}


/* too cewl...
body,h1,h2,h3,a:hover,#fglayer {
  cursor: url(/images/lightpen_cursor.png) 7 7, auto;
}
*/

#fglayer {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0em;
  z-index: 1;
}

#qrcode {
  background-color: #009900;
  color: var(--phosphor-black);
/*
  position: absolute;
  top: 8em;
  right: 2em;
  z-index: 2;
*/
}

div.statusbar {
  z-index: 2;
}

body, h1, h2, .searchinput {
  font-weight: normal;
  font-family: 'oldschool', 'Lucida Console', 'Monospace', monospace;
  /* text-shadow:
    +0.04em 0px 0.04em var(--phosphor),
    -0.03em  0px 0.03em var(--phosphor); */
  text-rendering: geometricPrecision;
}

@media (max-resolution: 100dpi) {
  body, h1, h2, .searchinput {
    font-size: clamp(0.75rem, 2.5vmin, 1.25rem);
  }
}

@media (min-resolution: 101dpi) {
  body, h1, h2, .searchinput {
    font-size: clamp(0.75rem, 2.5vmin, 1.25rem);
  }
}

body, h1, h2 {
  margin-top: 0;
}

h1 {
  padding: 0;
  margin-top: 2ex;
  margin-bottom: 2ex;
}

h2 {
  padding: 0;
  margin-top: 2ex;
  margin-bottom: 0ex;
}

h2:before {
  content: " "; /* 1 x &nbsp; */
  white-space: pre;
}


/* lists machanics (before also see something) */


li {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: 0em;
  padding-left: 0em;
  /* white-space: pre; */
  /*border: solid 1px yellow;*/ /* debug */
}

li:before {
  content: " o "; /* latin "o " */
  color: var(--phosphor);
  white-space: pre;
}

li.nobull:before {
  content: "   "; /* 3 x &nbsp; */
  white-space: pre;
}

li.nobull {
  margin-left: 0em; /* two spaces to compence bullet absence */
  padding-left: 0em; /* two spaces to compence bullet absence */
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  /* position: absolute;*/
  margin-left: 0em;
  padding-left: 0em;
  /* border: solid 1px green; */ /* debug */
}

/* colors etc */

body {
  background-color: var(--phosphor-black);
  color: var(--phosphor);
  height: 100%;
}

h1 {
  text-align: center;
}

h2 {
  background-color: var(--phosphor-dark);
  color: var(--phosphor-bright);
  width: 100%;
}

a {
  color: var(--phosphor-bright);
  text-decoration: none;
}

a:visited {
  color: var(--phosphor-bright);
}

a:hover {
  color: var(--phosphor-bright);
  background-color: var(--phosphor-dark);
  text-shadow:
    +0.05em  0px 0.05em var(--phosphor-bright),
    -0.03em 0px 0.03em var(--phosphor-bright);
}


a:after {
  content: "\005D";
  color: var(--phosphor-bright);
}

a:before {
  content: "\005B";
  color: var(--phosphor-bright);
}

.statusbar {
 position: absolute;
 bottom: 0;
 left: 0;
 background-color: var(--phosphor-dark);
 width: 100%;
}

.rightinstatus {
  position: absolute;
  right: 0;
}

.searchinput {
  background-color: var(--phosphor-dark);
  color: var(--phosphor);
  border-style: hidden;
  padding: 0px;
  width: 24em;
  display: inline;
}

@keyframes scanlineShift {
  to {
    background-position-y: clamp(4px, 8px, 12px);
  }
}

@keyframes frameInterference {
  to {
    background-position-y: 100vh;
  }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes blurOut {
    0% {
        transform: translateY(0) scale(0.85);
        filter: blur(clamp(8px, 16px, 26px));
        text-shadow:
          +0.8em 0px 0.8em var(--phosphor),
          -0.6em 0px 0.6em var(--phosphor);
    }
    100% {
        transform: translateY(0) scale(1);
        filter: blur(clamp(0.25px, 0.5px, 1px));
        text-shadow:
          +0.04em 0px 0.04em var(--phosphor),
          -0.02em 0px 0.02em var(--phosphor);
    }
}

div#fglayer {
  z-index: 500;
  animation: blurOut 3s;
  animation-fill-mode: forwards;
}

.crtanode, .crtoverlay, .crtunderlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.crtunderlay {
  z-index: 0;
  opacity: 0.25;
  background: linear-gradient(to bottom,
    transparent, var(--phosphor-dark)
  );
  background-size: 100% 100%;
  animation: frameInterference 10.0s linear infinite;
}

.crtoverlay {
  z-index: 1000;
  opacity: 0.25;
  background: linear-gradient(to bottom,
    black 0%, black 40%, var(--phosphor) 50%, var(--phosphor) 90%
  );
  background-size: 100% clamp(2px, 4px, 6px);
  animation: scanlineShift 0.25s linear infinite;
}

.crtanode {
  z-index: 1500;
  background: black;
  background-size: 100% 100%;
  animation: fadeOut 6s;
  animation-fill-mode: forwards;
}

@keyframes cursor-blink {
  50% {
    opacity:0
  }
}

.cursor {
  background: var(--phosphor);
  foreground: var(--phosphor-black);
  animation:cursor-blink 0.5s infinite;
}
